@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #F8F8FF;
  --nav-bg: #fff;
  --primary: #2F71D6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
  /* Force hide default cursor */
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  place-items: center;
  background: var(--background);
  padding: 0.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-bar {
  background: var(--primary);
  min-width: 7px;
  height: var(--item-height);
  position: absolute;
  z-index: 1;
  top: 0px;
  transition: 0.5s;
}

.nav-list li:nth-child(1).active~.active-bar {
  transform: translatey(calc(0));
}

.nav-list li:nth-child(2).active~.active-bar {
  transform: translatey(calc(var(--item-height) + var(--gap)));
}

.nav-list li:nth-child(3).active~.active-bar {
  transform: translatey(calc(var(--item-height) * 2 + var(--gap)*2));
}

.nav-list li:nth-child(4).active~.active-bar {
  transform: translatey(calc(var(--item-height) * 3 + var(--gap)*3));
}

.navigation {
  max-width: fit-content;
  display: flex;
  justify-content: left;
  background: var(--nav-bg);
  box-shadow: 0px 4px 16px 0px rgba(148, 156, 169, 0.2);
  width: 100%;
  align-items: center;
  /* padding: 1rem 1rem; */
  border-radius: 1rem;
  border: 4px solid rgba(144, 174, 223, 0.2);
  user-select: none;
}

.nav-list {
  display: block;
  list-style-type: none;
  gap: var(--gap);
  position: relative;
  padding: 1rem;

}

.nav-list>li {
  font-size: large;
  width: var(--item-width);
  height: var(--item-height);
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav-list>li>a {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 4rem;
  gap: .5rem;
  width: 100%;
  color: var(--nav-item-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out
}


.nav-list>li>a>svg {
  width: 2rem;
  height: 2rem;
  stroke: var(--nav-item-color);
  transition: all 0.2s ease-in-out;
}


.nav-list>li:hover>a {
  color: var(--primary);
}

.nav-list>li:hover>a>svg {
  stroke: var(--primary);
}